<div class="navbar subnav navbar-default navbar-static-top hidden-xs">
	<div class="container">
		<div id="about-subnav">
			<ul class="nav navbar-nav">
				<?php
					subnavItem('/about/company/', 'Company Expertise');
					subnavItem('/about/projects/', 'Project Highlights');
					subnavItem('/about/management-team/', 'Managament Team');
					subnavItem('/about/news/', 'News');
					subnavItem('/about/testimonials/', 'Testimonials');
				?>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>