<footer>
	<div class="container">
		<p>&copy;<?php echo $currentYear; ?>, Guerra Technologies, Inc.</p>
		<p><a href="/contact">Contact Us</a></p>
		<!-- <div class="row">
			<div class="col-xs-6">
				<p><b>Phone:</b> {{contactInfo.phone.office}}</p>
				<p><b>Fax:</b> {{contactInfo.phone.fax}}</p>
			</div>
			<div class="col-xs-6">
				<p>{{contactInfo.address.street}}</p>
				<p>{{contactInfo.address.city}}, {{contactInfo.address.state}} {{contactInfo.address.zip}}</p>
			</div>
		</div>	 -->
	</div>
</footer>