#address2 .form-control{
	float: left;
	margin-top: 5px;
}

	#input-address-city {
		width: 50%;
	}

	#input-address-state {
		width: 21%;
		margin-left: 2%;
	}

	#input-address-zip {
		width: 25%;
		margin-left: 2%;
	}

label[for^='input-interests-'] {
	font-weight: 400;
	margin-right: 20px;
}
input[name="input-interests"] { margin-right: 5px; }

input.invalid {
	border: 1px solid #bf0000;
	box-shadow: 0 0 4px -1px #bf0000;
}

#contact-info-table td {
	vertical-align: top;
	padding-bottom: 10px;
}

	#contact-info-table td:nth-of-type(1) {
		text-align: right;
		font-weight: 700;
		padding-right: 10px;
	}

@media screen and (max-width: 767px) {
	#contact-info-col {
		margin-top: 50px;
	}
}