table {
	border: 1px solid #DDD;
	margin-bottom: 15px;
	@media screen and (max-width: 992px){
		width: 100%;
		max-width: 450px;
		// margin: 20px auto;

	}
	thead {
		background-color: #DDD;
	}
	tr{
		&:nth-child(even) { background-color: rgba(0,0,0,0.07); }
		td {
			padding: 8px 12px;
			line-height: 1.2;
			text-align: center;
			@media screen and (max-width: 992px){
				text-align: left;
			}
		}
	}
}

table.collapsible-table {
	@media screen and (max-width: 992px){
		tr {
			display: block;
			td {
				display: block;
				padding: 8px;
				border-bottom: 1px solid rgba(0,0,0,0.07);
				span.collapsed-label {
					display: inline-block;
					width: 50%;
					vertical-align: middle;
					font-weight: 700;
				}
				span.value {
					width: 45%;
					display: inline-block;
					vertical-align: middle;
					span.collapsed-units {
						font-style: italic;
					}
				}
			}
		}
	}
}

.paypal-logo {
	border-radius: 6px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	&:hover {
		box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
	}
}
.paypal-checkout-form {
	vertical-align: middle;
	input, img {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		vertical-align: middle;
	}
}