table {
  border: 1px solid #DDD;
  margin-bottom: 15px; }
  @media screen and (max-width: 992px) {
    table {
      width: 100%;
      max-width: 450px; } }
  table thead {
    background-color: #DDD; }
  table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.07); }
  table tr td {
    padding: 8px 12px;
    line-height: 1.2;
    text-align: center; }
    @media screen and (max-width: 992px) {
      table tr td {
        text-align: left; } }

@media screen and (max-width: 992px) {
  table.collapsible-table tr {
    display: block; }
    table.collapsible-table tr td {
      display: block;
      padding: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
      table.collapsible-table tr td span.collapsed-label {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        font-weight: 700; }
      table.collapsible-table tr td span.value {
        width: 45%;
        display: inline-block;
        vertical-align: middle; }
        table.collapsible-table tr td span.value span.collapsed-units {
          font-style: italic; } }

.paypal-logo {
  border-radius: 6px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75); }
  .paypal-logo:hover {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.75); }

.paypal-checkout-form {
  vertical-align: middle; }
  .paypal-checkout-form input, .paypal-checkout-form img {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle; }
